.order-header {
  /* display: flex;
    justify-content: space-between; */
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: black;
  padding: 0.5rem;
  color: white;
  font-size: small;
}
.orderType-container {
  border-bottom: 1px solid #e0e0e0;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 0.5rem;

  /* display: flex;
    justify-content: space-between;
   
    padding: 1rem; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.details {
  height: 100%;
}

.details .heading {
  text-align: left;
  font: normal normal 600 14px Open Sans;
  color: #1d2022;
  margin: 5px 7px;
}

.details .subHeading {
  text-align: left;
  font: normal normal normal 10px Open Sans;
  color: #76788b;
}

.wash-types {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-left: -20px;
}

.wash-types img {
  cursor: pointer;
}

.priceAndReset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.priceAndReset .individualSum {
  font: normal normal 600 14px/20px Open Sans;
  letter-spacing: 0.43px;
  color: #221919;
  vertical-align: middle;
}
.priceAndReset .totalAmount {
  letter-spacing: 0.58px;
  color: #5861ae;
  font: normal normal bold 20px/27px Open Sans;
  vertical-align: middle;
  padding: 0 0.5rem;
}
.priceAndReset button {
  background-color: #feffff;
  border: 1px solid #5861ae;
  color: #5861ae;
  font-size: small;
  padding: 0.3rem 1rem;
  border-radius: 4px;
}
.product-container div {
  display: inline-block;
  vertical-align: middle;
}
.product-container p {
  margin: 0;
  margin-left: 0.5rem;
  font-size: small;
}
.image-container {
  width: 60px;
  height: 60px;
  vertical-align: middle;
}
.image-container img {
  width: 100%;
  height: 100%;
}

.input-container {
  box-sizing: border-box;
  width: 20px;
  vertical-align: middle;
}
.input-container input {
  margin-top: 1rem;
  vertical-align: middle;
  width: 40px;
  height: 20px;
  text-align: center;
  outline: none;
  border: 0.5px solid gray;
}
.input-container input:hover {
  border: 0.5px solid blue;
}
.btn-container {
  float: right;
  margin-top: 20px;
  width: 300px;
  text-align: right;
}
.btn-container .cancel-btn {
  border: 1px solid #5861ae;
  color: #5861ae;
  border-radius: 4px;
  margin-right: 20px;
  padding: 5px 20px;
}
.btn-container .proceed-btn {
  background: #5861ae 0% 0% no-repeat padding-box;
  border: 1px solid #5861ae;
  border-radius: 4px;
  color: #fff;
  padding: 5px 20px;
}
.createOrder-container {
  border: 1px solid #e0e0e0;
}
